* {
  padding: 0; }

body {
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply; }

h1 {
  color: black;
  font-size: 65px;
  font-family: 'Marcellus', serif;
  display: flex;
  justify-content: center; }

h2 {
  color: #A74ED4;
  font-family: 'Marcellus', serif;
  font-size: 35px;
  display: flex;
  justify-content: center; }

h3 {
  color: #A74ED4;
  font-family: 'Marcellus', serif;
  font-size: 35px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase; }

h4 {
  font-family: 'Marcellus', serif;
  font-size: 180%;
  color: black;
  display: flex;
  justify-content: center; }

h5 {
  color: black; }

h6 {
  color: #A74ED4;
  font-family: 'Marcellus', serif;
  font-size: 35px;
  padding: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center; }

p {
  color: white;
  font-size: 20px;
  font-family: 'Marcellus', serif;
  text-align: center; }

form div {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  font-family: sans-serif; }

#colorSoloParaTitulo {
  color: #A74ED4;
  font-size: 35px;
  font-family: 'Marcellus', serif;
  text-align: center; }

ul ol {
  font-family: 'Marcellus', serif;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center; }

#navBar {
  background-color: black; }
  #navBar ul {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    #navBar ul li {
      display: list-item;
      display: flex;
      justify-content: center; }
      #navBar ul li a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 10px 80px; }
        #navBar ul li a a:hover {
          background-color: #A74ED4; }

h2 {
  animation-duration: 4s;
  animation-name: aparecer; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#nombreApellido {
  width: 100px;
  transition: all 1s; }

#nombreApellido:focus {
  width: 250px;
  font-size: 25px; }

#loguito {
  height: 80px;
  width: 80px;
  position: 1px;
  margin: 1px; }

#galeria img {
  widht: 100%;
  height: 400px;
  padding: 30px; }

#ubicacionUno {
  padding: 20px;
  margin: 1px; }

#ubicacionDos {
  padding: 20px;
  margin: 1px; }

.parallaxDos {
  background-image: url(../assets/img/humoNegro.jpg);
  height: 685px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

footer .redes-sociales {
  color: white;
  font-size: 35px;
  background: #8D52B3;
  font-family: 'Marcellus', serif;
  display: flex;
  justify-content: center; }

footer .redes {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 1px;
  justify-content: space-around;
  text-align: center;
  background: black; }

footer .copy {
  font-size: 15px;
  padding: 1px; }

#inputUno {
  font-size: 15px; }

#nombreApellido {
  font-size: 15px;
  padding: 5px; }

.card {
  background: white;
  padding: 20px;
  margin: 10px; }
  .card card-text {
    color: black; }
    .card card-text card-title {
      font-family: 'Marcellus', serif; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto  200px 100px;
    grid-template-areas: "header header" "navGrid navGrid" "parrafo parrafo" "gridImg gridImg" "footer footer"; }
  header {
    grid-area: header; }
  .navGrid {
    grid-area: navGrid; }
  .navGrid ul {
    display: flex;
    display: block; }
  .parrafo {
    grid-area: parrafo; }
  .gridImg {
    grid-area: gridImg; }
  footer {
    grid-area: footer; }
  footer .redes {
    display: flex;
    font-size: 20px; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .gridcontainer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 70px  auto 60px 100px;
    grid-template-areas: "header header" "navGrid navGrid" "parrafo parrafo"  "imgGrid imgGrid" "footer footer"; }
  header {
    grid-area: header; }
  .navGrid {
    grid-area: navGrid; }
  .navGrid ul {
    display: flex;
    display: block; }
  .parrafo {
    grid-area: parrafo; }
  .gridImg {
    grid-area: gridImg; }
  footer {
    grid-area: footer; } }

.titulo__color {
  color: black; }

.p__texto--color {
  color: white; }

titulo__sub--color {
  color: black; }

.titulo__posicion {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.p__texto--posicion {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.titulo__sub--posicion {
  display: flex;
  flex-direction: row;
  justify-content: center; }

/* extend */
.input, .input--solicitar, .input--cancelar {
  width: 160px;
  height: 40px;
  background-color: white;
  text-align: center;
  color: black;
  border-radius: 20px;
  border: 1px solid black; }

.input--solicitar {
  background-color: #A74ED4;
  color: white; }

.input--cancelar {
  background-color: #A74ED4;
  color: white; }

/* operaciones */
.aplicando {
  width: 100%; }
