* {
  padding: 0; }

body {
  background-color: #E4E4E1;
  background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.6) 100%);
  background-blend-mode: normal, multiply; }

h2 {
  color: #065471;
  font-family: "Abel", sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 30px;
  font-weight: 600; }

h3 {
  color: #065471;
  font-family: "Abel", sans-serif;
  font-size: 35px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase; }

h6 {
  color: #065471;
  font-family: "Abel", sans-serif;
  font-size: 35px;
  padding: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center; }

p {
  color: #424242;
  font-size: 20px;
  font-family: "Abel", sans-serif;
  text-align: center;
  font-weight: 700; }

form div {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
  font-family: "Abel", sans-serif; }

#colorSoloParaTitulo {
  color: #065471;
  font-size: 50px;
  font-family: "Abel", sans-serif;
  text-align: center; }

b {
  color: #065471; }

h1 {
  color: white; }

.nav a {
  font-size: 30px;
  text-align: center;
  margin: 20px;
  font-family: "Abel", sans-serif;
  font-weight: 500; }

.nav a:hover {
  transform: translateY(-5px); }

#galeria img {
  width: 100%;
  height: 250px;
  background-color: #212529;
  padding: 10px; }

#galeria .col-lg-4 {
  padding: 25px;
  margin: 0; }

.animacionFotos1 {
  animation-duration: 2s; }

.animacionFotos2 {
  animation-duration: 3s; }

.animacionFotos3 {
  animation-duration: 4s; }

.animacionFotos4 {
  animation-duration: 5s; }

.animacionFotos5 {
  animation-duration: 6s; }

.animacionFotos6 {
  animation-duration: 7s; }

.animacionFotos7 {
  animation-duration: 8s; }

.animacionFotos8 {
  animation-duration: 9s; }

.animacionFotos9 {
  animation-duration: 10s; }

footer {
  width: 100%;
  padding: 20px;
  background: #212529;
  color: white; }

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto; }

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px; }

.box__footer h3 {
  margin-bottom: 25px;
  color: #065471;
  font-weight: 700;
  margin: -3px; }

.box__footer a {
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
  text-decoration: none;
  margin: 7px;
  font-family: "Abel", sans-serif;
  font-size: 20px; }

.box__footer a:hover {
  transform: translateY(-5px); }

.box__footer a .fab {
  font-size: 30px;
  margin: 10px; }

.box__copy {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px; }

.box__copy p {
  margin-top: 20px;
  color: #7a7a7a; }

.box__copy hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a; }

.form-label {
  font-size: 25px;
  font-family: "Abel", sans-serif;
  font-weight: 600; }

.col-md-6 {
  margin: 20px; }

.btn {
  margin: 15px;
  padding: 10px;
  background: #065471;
  width: 140px; }

.btn:hover {
  box-shadow: 1px 1px 30px 0px #212529; }

.form-control {
  width: 300px; }

.form-select {
  width: 300px; }

.imagenRes {
  margin-left: 800px;
  margin-top: -750px;
  animation-duration: 6s; }

.uno {
  animation-duration: 2s; }

.dos {
  animation-duration: 3s; }

.tres {
  animation-duration: 4s; }

.cuatro {
  animation-duration: 5s; }

.services {
  text-align: center; }

.cen {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 40px; }

.service {
  display: inline-block;
  width: calc(100% / 3);
  margin: 0 -2px;
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.4s; }

.service:hover {
  transform: translateY(-15px); }

.service i {
  color: black;
  font-size: 50px;
  margin-top: 20px; }

.service i:hover {
  transform: translateY(-10px); }

.service h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  margin-top: 20px;
  color: black;
  font-family: "Abel", sans-serif; }

.service p {
  color: #424242;
  font-size: 15px;
  font-weight: 500;
  margin-top: 15px;
  font-family: "Abel", sans-serif;
  font-weight: 600; }

@media only screen and (min-width: 0px) and (max-width: 767px) {
  h1 {
    font-size: 35px;
    color: black;
    font-family: "Abel", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 700; }
  h2 {
    font-size: 35px; }
  #colorSoloParaTitulo {
    font-size: 25px;
    text-align: center; }
  .nav a {
    margin: 1px; }
  p {
    font-size: 15px; }
  .service {
    width: 100%; }
  .animacionFotos1 {
    animation-duration: 3s; }
  .animacionFotos2 {
    animation-duration: 4s; }
  .animacionFotos3 {
    animation-duration: 5s; }
  .animacionFotos4 {
    animation-duration: 6s; }
  .animacionFotos5 {
    animation-duration: 7s; }
  .animacionFotos6 {
    animation-duration: 8s; }
  .animacionFotos7 {
    animation-duration: 9s; }
  .animacionFotos8 {
    animation-duration: 10s; }
  .animacionFotos9 {
    animation-duration: 11s; }
  .padre {
    margin: 0; }
  .imagenRes {
    display: none; }
  .espacio {
    margin-right: 0;
    margin-left: 0; } }

.parrafIndex {
  animation-duration: 4s; }

.container__card {
  max-width: 1200px;
  margin: auto;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 25px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.front_botton {
  padding: 10px 20px;
  margin-top: 2px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: white;
  background: #212529;
  box-shadow: 1px 1px 30px -5px #212529;
  border-radius: 10px;
  opacity: 0.5; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 1px; }

.card__back {
  transform: rotateY(180deg);
  background: #212529; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
  transform: translateZ(60px); }

.body__card_back {
  padding: 40px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back p {
  margin: 30px;
  font-size: 20px;
  font-family: "Abel", sans-serif;
  color: white;
  font-weight: 500; }

.body__card_back h7 {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  color: black;
  font-weight: 700; }

.body__card_back input {
  padding: 10px 40px;
  margin-top: 2px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  color: white;
  background: #212529;
  box-shadow: 1px 1px 30px -5px #424242;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px black; }
