
/* extend */
.input{
	width:160px;
	height:40px;
	background-color:white;
	text-align:center;
	color:black;
	border-radius:20px;
	border:1px solid black;
}

.input--solicitar{
	@extend .input;
	background-color:#582417;
	color:white;
}

   .input--cancelar{
	@extend .input;
	background-color:#582417;
	color:white;
}
