@import "posiciones";
@import "colores";
@import "fuentes";
@import "tamanios";

.container__card{
    max-width: 1200px;
    margin: auto;
    perspective: 1000px;
    display: flex;
    justify-content: $posicion;
    flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform:rotateY(180deg);
}

.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: $posicion;
}

.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;

}

.card__back{
    transform: rotateY(180deg);
    background: $gris;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: $posicion;
    padding: 40px;
    display: inline-flex;
    justify-content: $posicion;
    align-items: $posicion;
    color: $colorNegro;
    transform: translateZ(60px);

}
.body__card_front h4{
    font-size: $taman5;
    font-family: $fuente;
}

.body__card_back{
    padding: 40px;
    text-align: $posicion;
    transform: translateZ(60px);
}

.body__card_back p{
    margin: 30px;
    font-size: $taman8;
    font-family: $fuente;
    color: $blanco;
}

.body__card_back h7{
    font-family:$fuente;
    font-size: $taman6;
    color: $blanco;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 20px;
    font-size: $taman8;
    cursor: pointer;
    border: none;
    color: $blanco;
    background: $azul;
    box-shadow: 1px 1px 30px -5px $azul;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px $azul;
}
