$negro:black;
$blanco:white;
$marron:red;

.titulo__color{
    color:$negro;

}

.p__texto--color{
    color:$blanco;
}

titulo__sub--color{
    color:$negro;
}

h2{
    color:#582417;
}

h3{
    color:#582417;
}


h6{
    color:#582417;
}

#colorSoloParaTitulo{
    color:#582417;
}