
footer .redes-sociales{
                       color: white;
                       font-size: 35px;
                       background: #8D52B3;
                       font-family: 'Marcellus', serif;
                       display: flex;
                       justify-content: center;
}

footer .redes {
               display: flex;
               flex-direction: row;
               font-size: 30px;
               padding: 1px;
               justify-content: space-around;
               text-align: center;
               background: black;
}               

footer .copy{
             font-size: 15px;
             padding: 1px;
}
