#loguito {height: 80px;
           width: 80px;
           position: 1px;
           margin: 1px;

}

#ubicacionUno{padding: 20px;
              margin: 1px;

}

#ubicacionDos{padding: 20px;
              margin: 1px;

}

#galeria img{
    width: 100%;
    height: 250px;
    background-color:#212529;
    padding:15px;
}

#galeria .col-lg-4{
    padding: 25px;
    margin: 0;
}