@import "colores";

#ubicacionUno{padding: 20px;
              margin: 1px;

}

#ubicacionDos{padding: 20px;
              margin: 1px;

}

#galeria img{
    width: 100%;
    height: 250px;
    background-color:$gris;
    padding:10px;
}

#galeria .col-lg-4{
    padding: 25px;
    margin: 0;
}

.animacionFotos1{
    animation-duration:2s;
}

.animacionFotos2{
    animation-duration:3s;
}

.animacionFotos3{
    animation-duration:4s;
}

.animacionFotos4{
    animation-duration:5s;
}

.animacionFotos5{
    animation-duration:6s;
}

.animacionFotos6{
    animation-duration:7s;
}

.animacionFotos7{
    animation-duration:8s;
}

.animacionFotos8{
    animation-duration:9s;
}

.animacionFotos9{
    animation-duration:10s;
}