@import "colores";
@import "posiciones";
@import "tamanios";
@import "fuentes";

/* NAV */

.nav a{
    font-size: $taman9;
    text-align: $posicion;
    margin: 20px;
    font-family: $fuente;
    font-weight: 500;

}

.nav a:hover{
    opacity: 0.5; ;
}