@import "colores";
@import "posiciones";
@import "tamanios";
@import "fuentes";

b{
    color:#065471;
    font-weight: 700;
}

h1 {
    color:white;
    font-weight: 700;
}

.nav a{
    font-size: $taman9;
    text-align: $posicion;
    margin: 20px;
    font-family: $fuente;
    font-weight: 500;


}

.nav a:hover{
    transform: translateY(-5px)

}