@import "colores";
@import "posiciones";
@import "tamanios";
@import "fuentes";

/* NAV */

.nav a{
    color: black;
    font-size: $taman6;
    text-align: $posicion;
    margin: 20px;
    font-family: $fuente;

}

.nav a:hover{
    opacity: 0.5; ;
}