@import "colores";
@import "posiciones";
@import "fuentes";
@import "tamanios";

@media only screen and (min-width:0px) and (max-width:767px){
    h1{
        font-size: $taman3;
        color: $colorNegro;
        font-family: $fuente;
        display: flex;
        justify-content: $posicion;
        font-weight: 700; 
    }
    
    h2{
     font-size:$taman7; 
    }

    #colorSoloParaTitulo{
        font-size: $taman6;
        text-align: $posicion;
    }

    .nav a{
        margin: 1px;
    }

    p {
       font-size:$taman8;
    }
    .parrafoEst{
    font-size:$taman4;
    }
    .redes-container li{
     display: inline;
     margin:6px;
    }
    .service{
        width: 100%;
    }
    }