@import "colores";
@import "posiciones";
@import "fuentes";
@import "tamanios";

@media only screen and (min-width:0px) and (max-width:767px){
    h1{
        font-size: $taman3;
        color: $colorNegro;
        font-family: $fuente;
        display: flex;
        justify-content: $posicion;
        font-weight: 700; 
    }
    
    h2{
     font-size:$taman3; 
    }

    #colorSoloParaTitulo{
        font-size: $taman6;
        text-align: $posicion;
    }
    .nav a{
        margin: 1px;
    }

    p {
       font-size:$taman8;
    }

    .service{
        width: 100%;
    }
    
    .animacionFotos1{
    animation-duration:3s;
    }

    .animacionFotos2{
    animation-duration:4s;
    }

    .animacionFotos3{
    animation-duration:5s;
    }

    .animacionFotos4{
    animation-duration:6s;
    }

    .animacionFotos5{
    animation-duration:7s;
    }

    .animacionFotos6{
    animation-duration:8s;
    }

    .animacionFotos7{
    animation-duration:9s;
    }

    .animacionFotos8{
    animation-duration:10s;
    }

    .animacionFotos9{
    animation-duration:11s;
    }

    .padre{
    margin:0;
    }

    }