h1 {color: black;
           font-size: 65px;
           font-family: 'Marcellus', serif;
           display: flex;
           justify-content: center;

}

h2 {color: #A74ED4;
    font-family: 'Marcellus', serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

h3 {color:#A74ED4;
    font-family: 'Marcellus', serif;
    font-size: 35px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}

h4 {font-family: 'Marcellus', serif;
    font-size: 180%;
    color: black;
    display: flex;
    justify-content: center;

}

h5 {color: black;

}

h6 {color: #A74ED4;
    font-family: 'Marcellus', serif;
    font-size: 35px;
    padding:20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

}

p {color: white;
   font-size: 20px;
   font-family: 'Marcellus', serif;
   text-align: center;
}

form div {font-size: 20px;
          padding: 5px;
          margin: 5px;
          font-family: sans-serif;
}

#colorSoloParaTitulo {color: #A74ED4;
                    font-size: 35px;
                    font-family: 'Marcellus', serif;
                    text-align: center;
}

ul ol{font-family: 'Marcellus', serif;
      font-size: 20px;
      padding: 10px;
      margin: 10px;
      display: flex;
      justify-content: center;

}