@import "colores";
@import "fuentes";
@import "posiciones";
@import "tamanios";

h2 {
  color:$marron;
  font-family: $fuente;
  font-size: $taman2;
  display: flex;
  justify-content: $posicion; 
  margin: 20px;
  padding: 30px;
}

h3 {color:$marron;
    font-family: $fuente;
    font-size: $taman3;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}

h6 {color: $marron;
    font-family: $fuente;
    font-size: $taman3;
    padding:20px;
    text-transform: uppercase;
    display: flex;
    justify-content: $posicion;

}

p {color: white;
   font-size: $taman4;
   font-family: $fuente;
   text-align: $posicion;
}

form div {font-size: $taman4;
          padding: 5px;
          margin: 5px;
          font-family: $fuenteDos;
}

#colorSoloParaTitulo {color: $marron;
                    font-size: $taman5;
                    font-family: $fuente;
                    text-align: $posicion;
}